<div class="produtos-page">
  <h1>Controle de Produtos</h1>

  <!-- Botões de navegação -->
  <button routerLink="criar-produto" class="btn btn-primary">Criar Produto</button>
  <button routerLink="obter-produtos" class="btn btn-primary">Obter Produtos</button>
  <button routerLink="obter-produto-por-id" class="btn btn-primary">Obter Produto por ID</button>
  <button routerLink="atualizar-produto" class="btn btn-primary">Atualizar Produto</button>
  <button routerLink="excluir-produto" class="btn btn-primary">Excluir Produto</button>

  <!-- Botão de voltar -->
  <app-voltar-button></app-voltar-button>

  <!-- Router outlet para exibir rotas filhas -->
  <router-outlet></router-outlet>
</div>
