/* Estilo do container principal */
.supermercados-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
  }
  
  /* Estilo dos botões */
  .supermercados-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 20px;
  }
  
  .supermercados-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .supermercados-buttons button:hover {
    background-color: #218838;
  }
  