/* Estilo para a página de Buscar Produto por ID */
.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-buttons {
  display: flex;
  flex-direction: column; /* Empilhando os botões */
  align-items: center; /* Centralizando os botões */
  gap: 10px; /* Espaçamento entre os botões */
  margin-top: 20px;
}

.form-buttons .btn {
  width: 200px; /* Definindo largura fixada nos botões */
  padding: 10px 20px;
  font-size: 1rem;
}

/* Estilo para o botão "Buscar Produto" */
.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilo para o botão "Voltar" */
.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: #5a6268;
}
