<div class="container">
    <app-voltar-button></app-voltar-button> <!-- Botão de Voltar -->
    <h2 class="title">Obter Produto por ID</h2>
  
    <!-- Mensagem de erro -->
    <div *ngIf="mensagemErro" class="error-message">
      {{ mensagemErro }}
    </div>
  
    <!-- Formulário -->
    <form [formGroup]="produtoForm" (ngSubmit)="buscarProduto()">
      <div class="form-group">
        <label for="id">ID do Produto:</label>
        <input id="id" formControlName="id" />
      </div>
      <button type="submit" [disabled]="produtoForm.invalid">Buscar</button>
    </form>
  
    <!-- Resultado -->
    <div *ngIf="produto" class="produto-detalhes">
      <h3>Detalhes do Produto</h3>
      <p><strong>Nome:</strong> {{ produto.nome }}</p>
      <p><strong>Valor de Compra:</strong> {{ produto.valorDeCompra | currency }}</p>
      <p><strong>Valor de Venda:</strong> {{ produto.valorDeVenda | currency }}</p>
      <p><strong>Fornecedor:</strong> {{ produto.fornecedor?.nome || 'N/A' }}</p>
    </div>
  </div>
  