<div class="home-container">
    <h2 class="home-title">Bem-vindo ao sistema de controle do Supermercado Fácil</h2>
    <p class="home-subtitle">Abaixo selecione uma das opções:</p>
    <div class="home-buttons">
      <button routerLink="/supermercados">Supermercados</button>
      <button routerLink="/produtos">Produtos</button>
      <button routerLink="/estoque">Estoque</button>
      <button routerLink="/fornecedores">Fornecedores</button>
      <button routerLink="/funcionarios">Funcionários</button>
      <button routerLink="/caixas">Caixas</button>
    </div>
  </div>
  