<div class="home-container">
  <img src="assets/carrinho2.png" alt="Carrinho de Supermercado" class="home-image">
  <h1 class="home-title">Bem-vindo ao sistema de controle do Supermercado Fácil</h1>
  <p class="home-subtitle">Abaixo selecione uma das opções:</p>
  <div class="home-buttons">
    <button routerLink="/supermercados" class="btn">Supermercados</button>
    <button routerLink="/produtos" class="btn">Produtos</button>
    <button routerLink="/estoque" class="btn">Estoque</button>
    <button routerLink="/fornecedores" class="btn">Fornecedores</button>
    <button routerLink="/funcionarios" class="btn">Funcionários</button>
    <button routerLink="/caixas" class="btn">Caixas</button>
  </div>
</div>
