/* Estilo global para o botão Voltar */
app-voltar-button {
  display: none; /* Remover o botão universal de volta para não interferir */
}

.produtos-page .btn-voltar {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  border-radius: 5px;
}

.produtos-page .btn-voltar:hover {
  background-color: #0056b3;
}
