<table *ngIf="produtos.length > 0" class="product-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor de Compra</th>
        <th>Valor de Venda</th>
        <th>Fornecedor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.nome }}</td>
        <td>{{ produto.valorDeCompra | currency }}</td>
        <td>{{ produto.valorDeVenda | currency }}</td>
        <td>{{ produto.fornecedor?.nomeEmpresa || 'N/A' }}</td>
        <td class="actions">
          <button (click)="redirecionarParaAtualizar(produto._id)" class="btn-action">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="excluirProduto(produto._id)" class="btn-action">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  